{% extends "baseof.html" %}
{% block title %}{{ site.params.hometitle }} | {{ site.title }}{% endblock title %}
{% block main %}
{% include "_partials/carousel.html" %}
<section class="home">
  {% set snacks = [p for p in site.regular_pages if p.params.type == "snacks"] | sort_by(attribute="date", reverse=true) %}
  <h2>{{ i18n(key="latest") }} ({{ snacks | length }})</h2>
  {% for p in snacks[:2 * 2] %}{{ <card p={p} /> }}{% endfor %}
  {% set pager = paginator() %}{% for p in pager.pages %}<a class="pg" href="{{ p.rel_permalink }}">{{ p.link_title }}</a>{% endfor %}
  {% include "_partials/pagination.html" %}
  <ul class="taxonomies">
  {% for name, taxonomy in site.taxonomies | sort_keys %}
    <li class="tax-{{ name }}">{{ name | humanize }}: {{ taxonomy | length }}
      {% set top = taxonomy | by_count %}{% for t in top[:3] %}<a href="{{ t.page.rel_permalink }}">{{ t.page.title }} ({{ t.count }})</a>{% endfor %}
    </li>
  {% endfor %}
  </ul>
  <p class="i18n">{{ i18n(key="reviews", count=1) }} / {{ i18n(key="reviews", count=5) }} / {{ i18n(key="welcome", data={"Name": site.title}) }}</p>
  {% for t in page.all_translations %}<a hreflang="{{ t.lang }}" href="{{ t.permalink }}">{{ t.language.name }}</a>{% endfor %}
</section>
{% endblock main %}
