<!DOCTYPE html>
<html lang="{{ site.language_code }}">
<head>
{%- include "_partials/head.html" -%}
<title>{% block title %}{{ page.title }} | {{ site.title }}{% endblock title %}</title>
</head>
<body class="{{ page.kind }} {{ page.type }}">
{% include "_partials/header.html" %}
<main id="main" class="container">
{% include "_partials/breadcrumb.html" %}
{%- block main %}{% endblock main %}
</main>
{% include "_partials/footer.html" %}
{% block scripts %}{% include "_partials/scripts.html" %}{% endblock scripts %}
</body>
</html>
