{#- Google Analytics 4: `{% include "_partials/google_analytics.html" %}`. -#}
{%- if not site.config.privacy.google_analytics.disable %}
  {%- set ga_id = site.config.services.google_analytics.id %}
  {%- if ga_id %}
    {%- if ga_id | lower is starting_with(pat="ua-") %}
      {{- log_warn(message="Google Analytics 4 (GA4) replaced Google Universal Analytics (UA) effective 1 July 2023. See https://support.google.com/analytics/answer/11583528. Create a GA4 property and data stream, then replace the Google Analytics ID in your site configuration with the new value.") }}
    {%- else %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_id | urlencode_strict }}"></script>
      <script>
        var doNotTrack = false;
        if ({{ site.config.privacy.google_analytics.respect_do_not_track | jsonify }}) {
          var dnt = (navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack);
          var doNotTrack = (dnt == "1" || dnt == "yes");
        }
        if (!doNotTrack) {
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', {{ ga_id | jsonify }});
        }
      </script>
    {%- endif %}
  {%- endif %}
{%- endif -%}
