{%- set ancestors = page.ancestors | reverse %}
{%- set crumbs = [{"position": i + 1, "name": ancestors[i].link_title, "item": ancestors[i].permalink} for i in range(end=ancestors | length)] %}
{%- set ld = {"@context": "https://schema.org", "@type": "Article" if page.is_page else "WebPage", "name": page.title, "url": page.permalink, "breadcrumb": crumbs | sort_by(attribute="position")} %}
{%- if page.params.youtube_video %}
  {%- set url = "https://www.googleapis.com/youtube/v3/videos?key=API_KEY&part=snippet,contentDetails,statistics&id=" ~ page.params.youtube_video %}
  {%- set remote = get_remote(url=url, optional=true) %}
  {%- if remote %}
    {%- set data = remote | unmarshal %}
    {%- set videos = data["items"] or [] %}
    {%- if videos %}
      {%- set v = videos[0] %}
      {%- set tags = v.snippet.tags | default_if_empty(value=[]) %}
      {%- set ld = ld | merge(with={"video": {"name": v.snippet.title, "uploadDate": v.snippet.publishedAt, "duration": v.contentDetails.duration, "views": v.statistics.viewCount, "tags": tags[:3]} }) %}
    {%- endif %}
  {%- endif %}
{%- endif %}
<script type="application/ld+json">{{ ld | jsonify | safe }}</script>
