name: Benchmark
on:
  push:
    branches:
      - master
      - main

env:
  GO111MODULE: "on"
  GOPROXY: "https://proxy.golang.org"
  HUGO_BUILD_TAGS: "extended"

jobs:
  benchmark:
    name: Performance regression check
    runs-on: ubuntu-20.04
    steps:
      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: '1.18'
      - name: Git checkout
        uses: actions/checkout@v2
      - uses: actions/cache@v2
        id: cache
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Install Module
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          go mod download
          go mod verify
      # Run benchmark with `go test -bench` and stores the output to a file
      - name: Run benchmark
        run: |
          go test -test.run=NONE -bench="." -test.benchmem=true ./... | tee output.txt
      # Download previous benchmark result from cache (if exists)
      - name: Download previous benchmark data
        uses: actions/cache@v2
        with:
          path: ./cache
          key: ${{ runner.os }}-benchmark
      - name: check git diff
        run: |
          git diff
          git reset --hard
      # Run `github-action-benchmark` action
      - name: Store benchmark result
        uses: rhysd/github-action-benchmark@v1
        with:
          # What benchmark tool the output.txt came from
          tool: 'go'
          # Where the output from the benchmark tool is stored
          output-file-path: output.txt
          # Workflow will fail when an alert happens
          fail-on-alert: false
          # GitHub API token to make a commit comment
          github-token: ${{ secrets.GITHUB_TOKEN }}
          # Enable alert commit comment
          comment-on-alert: true
          # Mention @blackb1rd in the commit comment
          alert-comment-cc-users: '@blackb1rd'
          # Push and deploy GitHub pages branch automatically
          auto-push: true
          # Upload the updated cache file for the next job by actions/cache
