name: CI
on:
  push:
    branches:
      - main
    tags:
      - v*.*.*
  pull_request:

env:
  GO111MODULE: "on"
  GOPROXY: "https://proxy.golang.org"
  HUGO_BUILD_TAGS: "extended"

jobs:
  build:
    name: Build (${{ matrix.os }}, Go ${{ matrix.go }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        go: [ '1.15' ]
    steps:
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - name: Git checkout
        uses: actions/checkout@v2
      - name: Setup Go environment
        shell: bash
        run: |
          echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
      - name: Go info
        run: go env
      - name: Install gofumpt and mage
        run: |
          go get mvdan.cc/gofumpt
          go get github.com/magefile/mage
      - uses: actions/cache@v2
        id: cache
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Install Go module
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          go mod download
          go mod verify
      - name: Run mage tests
        run: |
          mage -v test
      - name: Run mage check
        run: |
          mage -v check
      - name: Run mage neohugo
        run: |
          mage -v neohugo
  gotip:
    name: Build ubuntu-latest, GoTip
    runs-on: ubuntu-latest
    steps:
      - name: Setup gotip
        run: |
          git clone --depth=1 https://go.googlesource.com/go $HOME/gotip
          cd $HOME/gotip/src
          ./make.bash
          echo "GOROOT=$HOME/gotip >> $GITHUB_ENV
          echo "$HOME/gotip/bin" >> $GITHUB_PATH
      - name: Git checkout
        uses: actions/checkout@v2
      - name: Setup Go environment
        shell: bash
        run: |
          echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
      - name: Go info
        run: go env
      - name: Install gofumpt and mage
        continue-on-error: true
        run: |
          go get mvdan.cc/gofumpt
          go get github.com/magefile/mage
      - uses: actions/cache@v2
        id: cache
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Install Go module
        if: steps.cache.outputs.cache-hit != 'true'
        continue-on-error: true
        run: |
          go mod download
          go mod verify
      - name: Run mage tests
        continue-on-error: true
        run: |
          mage -v test
      - name: Run mage check
        continue-on-error: true
        run: |
          mage -v check
      - name: Run mage neohugo
        continue-on-error: true
        run: |
          mage -v neohugo

  docdeploy:
    if: startsWith(github.ref, 'refs/tags/v')
    name: Deploy documentation
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.x
      - name: Git checkout
        uses: actions/checkout@v2
        with:
          path: neohugo
      - name: Setup Go environment
        shell: bash
        run: |
          echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Install mage
        working-directory: ./neohugo
        run: |
          go get github.com/magefile/mage
      - uses: actions/cache@v2
        id: cache
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Install Go module
        if: steps.cache.outputs.cache-hit != 'true'
        working-directory: ./neohugo
        run: |
          go mod download
          go mod verify
      - name: Run mage neohugo
        working-directory: ./neohugo
        run: |
          mage -v neohugo
      - name: Build docs
        working-directory: ./neohugo
        run: |
          HUGO_IGNOREERRORS=error-remote-getjson ./neohugo -s docs/
      - name: Checkout docs repository
        uses: actions/checkout@v2
        with:
          repository: neohugo/neohugo.github.io
          path: docs
          token: ${{ secrets.NEOHUGO_GITHUB_TOKEN }}
      - name: Update documentation
        working-directory: ./docs
        run: |
          rsync -hrvz --delete --exclude='.git/'  ../neohugo/docs/public/ .
          git config --global user.name "blackb1rd"
          git config --global user.email "${{ secrets.NEOHUGO_EMAIL }}"
          git add -A
          git commit -m "Update $RELEASE_VERSION"
          git push
  goreleaser:
    if: startsWith(github.ref, 'refs/tags/v')
    name: Release tag
    needs: docdeploy
    runs-on: ubuntu-latest
    container:
      image: troian/golang-cross:v1.15.3
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.x
      - name: Run Goreleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist --timeout 60m
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

