name: CI
on:
  push:
    branches:
      - main
  pull_request:

env:
  GO111MODULE: "on"
  GOPROXY: "https://proxy.golang.org"
  HUGO_BUILD_TAGS: "extended"

jobs:
  build:
    name: Build (${{ matrix.os }}, Go ${{ matrix.go }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        go: [ '1.15' ]
    steps:
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - name: Git checkout
        uses: actions/checkout@v2
      - name: Setup Go environment
        shell: bash
        run: |
          echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
      - name: Go info
        run: go env
      - name: Install gofumpt and mage
        run: |
          go get mvdan.cc/gofumpt
          go get github.com/magefile/mage
      - uses: actions/cache@v2
        id: cache
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Install Go module
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          go mod download
          go mod verify
      - name: Run mage tests
        run: |
          mage -v test
      - name: Run mage check
        run: |
          mage -v check
      - name: Run mage neohugo
        run: |
          mage -v neohugo
  gotip:
    name: Build ubuntu-latest, GoTip
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15
      - name: Setup gotip
        run: |
          go get golang.org/dl/gotip
          gotip download
      - name: Git checkout
        uses: actions/checkout@v2
      - name: Setup Go environment
        shell: bash
        run: |
          echo "GOPATH=$(gotip env GOPATH)" >> $GITHUB_ENV
          echo "$(gotip env GOPATH)/bin" >> $GITHUB_PATH
      - name: Go info
        run: gotip env
      - name: Install gofumpt and mage
        continue-on-error: true
        run: |
          gotip get mvdan.cc/gofumpt
          gotip get github.com/magefile/mage
      - uses: actions/cache@v2
        id: cache
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Install Go module
        if: steps.cache.outputs.cache-hit != 'true'
        continue-on-error: true
        run: |
          gotip mod download
          gotip mod verify
      - name: Run mage tests
        continue-on-error: true
        run: |
          GOEXE=gotip mage -v test
      - name: Run mage check
        continue-on-error: true
        run: |
          GOEXE=gotip mage -v check
      - name: Run mage neohugo
        continue-on-error: true
        run: |
          GOEXE=gotip mage -v neohugo
  docker:
    name: Build Neohugo Docker Latest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags:
            neohugo/neohugo:latest
            ghcr.io/neohugo/neohugo:latest
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
      - name: Build Extra and push
        id: docker_build_extra
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile.extra
          push: true
          tags:
            neohugo/neohugo:latest-extra
            ghcr.io/neohugo/neohugo:latest-extra
      - name: Image Extra digest
        run: echo ${{ steps.docker_build_extra.outputs.digest }}
