name: Golangci-lint
on:
  push:
    branches:
      - main
    tags:
      - v*.*.*
  pull_request:

jobs:
  golangci:
    strategy:
      matrix:
        go-version: [1.18.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    name: lint
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17.x
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v1.44

          # Optional: working directory, useful for monorepos
          # working-directory: somedir

          # Optional: golangci-lint command line arguments.
          # args: --issues-exit-code=0
          args: --timeout 10m --skip-dirs tpl/internal/go_templates

          # Optional: show only new issues if it's a pull request. The default value is `false`.
          # only-new-issues: true
          #
          # Optional: if set to true then the action will use pre-installed Go.
          skip-go-installation: true
